@import "theme/default";

html,body {
	height:100%;
	margin:0;
	padding:0;
	border: 0 none;
}
body {
	display:flex;
	flex-direction: column;
}
#control {
	display:flex;
	details {
		flex: 1 0 0;
	}
}
#updateBtn {
	align-self:flex-start;
}
#searchContainer {
	& > fieldset {
		display:flex;
	}
	fieldset {
		padding:0;
		margin:0;
	}
	fieldset[data-path="sort"],fieldset[data-path="filter.genres"] {
		border-width: 2px 0 0 0;
		padding:0 1ex;
	}
	fieldset[data-path="filter"] {
		flex: 1 0 0;
		border-width: 2px 0 0 2px;
	}
	fieldset[data-path="filter.genres"] {
		flex: 1 0 0;
		display:flex;
		flex-flow: row wrap;
		justify-content:space-around;
		label {
			display:flex;
			cursor:pointer;

			.selectable();
			input {
				display:none;
			}
			span {
				flex: 1 0 0;
				padding:.5ex
			}
			:checked + span {
				.selected();
			}
		}
	}
	fieldset[data-path="filter.ranges"] {
		display:flex;
		span {
			vertical-align:top;
		}
	}
}
#tableWrapper {
	flex: 1 0 0;
	overflow:auto;
	table {
		width:100%;
		tbody tr {
			.zebra();
			.selectable();
		}
	}
}
.anime_title {
	position:relative;
	img {
		display:none;
		position:absolute;
		right:0;
		z-index:1;
	}
	&:hover img {
		display:block;
	}
}